# Configuración de la API
# Para producción (sin /api al final, se añade automáticamente)
VITE_API_URL=https://bar-invt-back.vercel.app

# Configuración de desarrollo
# VITE_API_URL=http://localhost:3000 